.postagem {
    width: 900px;
    margin: auto;
    border: 2px solid rgb(131, 111, 255);
    border-radius: 20px;
}

.nomeUsuario{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    color: rgb(85, 26, 139);
}

.comentario{
    margin: 30px;
}

.textarea-padrao{
    width: 800px;
    background-color: rgba(209, 168, 247, 0.616);
    margin-left: 20px;
}

.btn-green{
    margin-left: 20px;
}

.feed{
    margin: 20px;
}

.feed-container{
    margin: 20px;
    width: 900px;
    height: auto;
    border: 2px solid rgb(131, 111, 255);
    border-radius: 20px;
    padding: 20px;
}

.btn-green{
    margin-left: 20px;
    background-color: gainsboro;
    border: 1px solid grey;
    padding: 7px;
    width: 250px;
    border-radius: 10px;
}

.btn-green:hover {
    background-color: rgb(131, 111, 255);
    border: 1px solid black;
    color: white;
    cursor: pointer;
}



.lista-favoritos{
    border: 2px solid rgb(131, 111, 255); 
    border-radius: 10px; 
    padding: 20px;
    background-color: whitesmoke;
}

.titulo-lista{
    margin: 10px;
}

.input-lista {
    background-color: whitesmoke;
    border: 1px solid rgb(85, 26, 139);
    padding: 5px;
    margin: 10px;
    width: 300px;
    margin: 20px 69px 20px;
}

.btn-salvar{
    background-color: gainsboro;
    border: 1px solid grey;
    padding: 7px;
    width: 250px;
    margin: 20px 69px 20px;
    border-radius: 10px;
}

.btn-salvar:hover {
    background-color: rgb(131, 111, 255);
    border: 1px solid black;
    color: white;
    cursor: pointer;
}

.grafico-favoritos{
    width: 700px;
    height: 600px;
    margin-top: 130px;
}
